body {
    margin: 0;
    background-image: url(img/space-g7b36651f7_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
}

/* Header */ 

header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    font-size: 113%;
}

a {
    color: white;
    text-decoration: none;
}

/* Main */

main {
    padding: 1%;
    width: 100%;
    margin-top: 1%;
    
}

/* Titre */

.titre {
   
    display: flex;
    justify-content: center;
}

/* A propos de moi */

#moi {
    font-size: 113%;
    width: 50%;
    text-align: center;
}

#ok {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/source-g9e352d4f2_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    margin: 3%;
}