@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    font-family: Poiret One;
    margin: 0;
    background-image: url(img/space-g7b36651f7_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
}

/* Header */ 

header {
    display: flex;
    justify-content: space-evenly;
    font-size: 113%;
    background: rgba(0, 0, 0, 0.6);
    height: 43px;
    align-items: center;
}
/* garder le header lors du scroll */
#my_header {
    position: sticky;
    top: 0;
    z-index: 10;
}

a {
    color: white;
    text-decoration: none;
}

/* Footer */

footer{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    height: 127px;
    margin-top: 4%;
}
footer a {
    width: 7%;
    align-items: center;
    display: flex;
}
footer a img{
    border-radius: 14%;
}

/* Titre */

.titre {
   
    display: flex;
    justify-content: center;
}

/* A propos de moi */

.text {
    font-size: 113%;
    width: 50%;
    text-align: center;
}

#back {
    background-image: url(img/source-g9e352d4f2_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    margin: 3%;
}

#ok {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000042;
    margin: -3%;
}

/* projets réaliser */

#projets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#projets div {
    border: solid 1px;
    padding: 1%;
    box-shadow: 1px -2px 12px 0px aqua;
}

.mes_projets {
    width: 21%;
    background-color: #00000042;
    border-radius: 22px;
    margin: 1%;
}

img {
    width: 100%;
}

.langue {
    font-size: 113%;
}

.mes_projets :last-child {
    font-size: 113%;
    text-align: center;
}

.mes_projets:hover {
    width: 50%;
    margin: 1%;
}